<div class="contenedor">
    <div class="full-width-image">
        <img src="assets/img/mapacali.png" alt="">
    </div>
    <div class="texto-encima">>
        <h1 class="text-white">BIENVENIDOS</h1>
        <h3><p class="text-white">Al acceder a la aplicación, se muestra el punto del Área del lote en el que te 
            encuentras, gracias al GPS de tu móvil, te permite anotar los trabajos realizados en tu parcela 
            directamente desde el mapa. De esta manera, tienes un acceso muy rápido a todos tus campos desde 
            cualquier lugar viendo la ubicación exacta en tu teléfono.</p></h3>
        <h3><p class="text-white">El usuario puede actualizar las imagenes con ubicacion de geolocalización 
            con la información personal.</p></h3>
        <p></p>
        <p></p>
    </div>
</div>
